In [1]:
import numpy as np
import pandas as pd
data = pd.read_csv('../data/motor_vehicle_collisions_crashes.csv', low_memory=False, error_bad_lines = False)

# (40.680577, -73.974265)

In [9]:
data = data[data['BOROUGH'].notna()]
data = data[data['LATITUDE'].notna()]
data = data[data['LONGITUDE'].notna()]
data = data[data['ON STREET NAME'].notna()]
data = data[data['CONTRIBUTING FACTOR VEHICLE 1'].notna()]
data = data.loc[data['CONTRIBUTING FACTOR VEHICLE 1'] != 'Unspecified']

In [13]:
data.to_csv('../data/motor_vehicle_collisions_crashes_clean.csv', index=False)

In [23]:
data = pd.read_csv('../data/motor_vehicle_collisions_crashes.csv', low_memory=False)

In [24]:
cols = ['CRASH DATE',
'CRASH TIME',
'ON STREET NAME',
'CONTRIBUTING FACTOR VEHICLE 1',
'CONTRIBUTING FACTOR VEHICLE 2',
'VEHICLE TYPE CODE 1',
'VEHICLE TYPE CODE 2',
       ]
for col in cols:
    data[col] = data[col].str.upper()

In [25]:
data.loc[(data['VEHICLE TYPE CODE 1'] == '4 DR SEDAN') | (data['VEHICLE TYPE CODE 1'] == '2 DR SEDAN'), 'VEHICLE TYPE CODE 1'] = 'SEDAN'
data.loc[(data['VEHICLE TYPE CODE 1'] == 'STATION WAGON/SPORT UTILITY VEHICLE') | (data['VEHICLE TYPE CODE 1'] == 'SPORT UTILITY / STATION WAGON'), 'VEHICLE TYPE CODE 1'] = 'SUV'

In [26]:
data = data.loc[data['CONTRIBUTING FACTOR VEHICLE 1'] != 'UNSPECIFIED']
data = data[data['BOROUGH'].notna()]
data = data[data['CONTRIBUTING FACTOR VEHICLE 1'].notna()]
data = data[data['VEHICLE TYPE CODE 1'].notna()]

In [27]:
data.to_csv('../data/cluster_type_vs_factor.csv', index=False)

In [28]:
data.shape

(760167, 29)

In [66]:
pedestrian.shape

(91737, 29)

In [69]:
cyclist = data.loc[(data['NUMBER OF CYCLIST INJURED'] > 0) | (data['NUMBER OF CYCLIST KILLED'] > 0)]

In [70]:
cyclist.shape

(42930, 29)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1823496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1823497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1823522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1823523,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1823529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN