<a href="https://colab.research.google.com/github/sudheendrakatikar/cmpe255-project-team1/blob/main/data_clean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CMPE 255 Group Project

In [42]:
#Includes
import pandas as pd
from google.colab import files
from google.colab import drive

#Use line below to unmount
#drive.flush_and_unmount()

#Use line below to mount drive to access data
#drive.mount('/content/drive')

In [44]:
#Data Preprocessing Functions
def load_data(filename):
    # Create Pandas Dataframe from CSV File. 
    # Input filename as a String

    return pd.read_csv(filename, encoding='utf-8')

In [54]:
#Clean Up Function
#TODO Write Cleanup Functions for Data

#Below are incomplete functions for cleaning data. Modify for our own use
def remove_unnecersary_columns(df):
    df.drop([], axis=1, inplace=True)
    

    return

def  fill_missing_values(df):
    #df.fillna(value="No Name", inplace=True)

    #Display For Debugging
    #display(df)
    return

In [55]:
#Main
def main():
  
  mvcc = load_data('/content/drive/Shareddrives/CMPE_255/255_Project/motor_vehicle_collisions_crashes.csv')
  display(mvcc)

In [56]:
main()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

         CRASH DATE CRASH TIME  ... VEHICLE TYPE CODE 4 VEHICLE TYPE CODE 5
0        04/14/2021       5:32  ...                 NaN                 NaN
1        04/13/2021      21:35  ...                 NaN                 NaN
2        04/15/2021      16:15  ...                 NaN                 NaN
3        04/13/2021      16:00  ...                 NaN                 NaN
4        04/12/2021       8:25  ...                 NaN                 NaN
...             ...        ...  ...                 ...                 ...
1823532  07/06/2012      15:09  ...                 NaN                 NaN
1823533  07/03/2012      17:30  ...                 NaN                 NaN
1823534  07/01/2012      15:30  ...                 NaN                 NaN
1823535  07/08/2012      18:30  ...                 NaN                 NaN
1823536  07/05/2012      23:00  ...                 NaN                 NaN

[1823537 rows x 29 columns]