<a href="https://colab.research.google.com/github/sudheendrakatikar/cmpe255-project-team1/blob/main/maincode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CMPE 255 Group Project

###Includes

In [ ]:
# Includes
from google.colab import files
from google.colab import drive

import pandas as pd
import numpy as np
import folium
from folium import features
from folium.plugins import HeatMap
from folium.plugins import MarkerCluster
from mlxtend.frequent_patterns import apriori, association_rules

# Use line below to unmount
# drive.flush_and_unmount()

# Use line below to mount drive to access data
# drive.mount('/content/drive')

### Mount Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Defining Load Data Function

In [ ]:
#Data Preprocessing Functions
def load_data(filename):
    # Create Pandas Dataframe from CSV File. 
    # Input filename as a String

    return pd.read_csv(filename, encoding='utf-8')

### Define Cleanup Data Functions

In [ ]:
#Clean Up Functions

#Below are incomplete functions for cleaning data. Feel free to Modify for our own use
def remove_unnecersary_columns(df):
    df.drop([], axis=1, inplace=True)
    return

def  fill_missing_values(df):
    #df.fillna(value="No Name", inplace=True)

    #Display For Debugging
    #display(df)
    return
def drop_col(df):
    #df.drop(['LATITUDE', 'LONGITUDE'], axis=1, inplace=True)
    #display(df)
    return

def drop_row(df):
    df.dropna(subset=['LATITUDE', 'LONGITUDE', 'ON STREET NAME'], inplace = True)    
    return

### Define Visualization Functions

In [ ]:
def pieChart(data):
  data.BOROUGH.value_counts().plot.pie(title='Accident % by Borough', label='', autopct='%1.1f%%', figsize=(12, 5), startangle=0)

In [ ]:
def barChart(data):
  time_series = pd.Series([ int(time.split(':')[0]) for time in data['CRASH TIME'] ]).value_counts().sort_index()
  time_series.plot(kind='bar', title='Accidents in NYC by hour', figsize=(12, 5))

In [ ]:
def heatmap(data):
  heatmap = folium.Map(location=[40.742459, -73.971765], zoom_start=12)
  coords = [[x[0], x[1], 1] for x in np.array(data[['LATITUDE', 'LONGITUDE']].dropna())]
  print(coords)
  HeatMap(coords, radius = 20).add_to(heatmap)
  heatmap

### Load Data

In [ ]:
data = load_data('/content/drive/Shareddrives/CMPE_255/255_Project/motor_vehicle_collisions_crashes.csv')
print("Showing Original Data ---------------------------------------------------------")
display(data)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2822: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

Showing Original Data ---------------------------------------------------------

         CRASH DATE CRASH TIME  ... VEHICLE TYPE CODE 4 VEHICLE TYPE CODE 5
0        04/14/2021       5:32  ...                 NaN                 NaN
1        04/13/2021      21:35  ...                 NaN                 NaN
2        04/15/2021      16:15  ...                 NaN                 NaN
3        04/13/2021      16:00  ...                 NaN                 NaN
4        04/12/2021       8:25  ...                 NaN                 NaN
...             ...        ...  ...                 ...                 ...
1823532  07/06/2012      15:09  ...                 NaN                 NaN
1823533  07/03/2012      17:30  ...                 NaN                 NaN
1823534  07/01/2012      15:30  ...                 NaN                 NaN
1823535  07/08/2012      18:30  ...                 NaN                 NaN
1823536  07/05/2012      23:00  ...                 NaN                 NaN

[1823537 rows x 29 columns]

### Define Method Functions

#### Method 1: Association Analysis

In [ ]:
def association_analysis(df):
    display(data.head(5))

In [ ]:
association_analysis(data)

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'],
      dtype='object')

   CRASH DATE CRASH TIME  ... VEHICLE TYPE CODE 4 VEHICLE TYPE CODE 5
0  04/14/2021       5:32  ...                 NaN                 NaN
1  04/13/2021      21:35  ...                 NaN                 NaN
2  04/15/2021      16:15  ...                 NaN                 NaN
3  04/13/2021      16:00  ...                 NaN                 NaN
4  04/12/2021       8:25  ...                 NaN                 NaN

[5 rows x 29 columns]

#### Method 2: Classification

#### Method 3:

###Cleaning Data

In [ ]:
#Cleaning Data
drop_row(data)
display(data)

         CRASH DATE CRASH TIME  ... VEHICLE TYPE CODE 4 VEHICLE TYPE CODE 5
4        04/12/2021       8:25  ...                 NaN                 NaN
13       05/21/2019      22:50  ...                 NaN                 NaN
16       03/09/2021      11:00  ...                 NaN                 NaN
17       03/31/2021      22:20  ...                 NaN                 NaN
18       04/06/2021      22:58  ...                 NaN                 NaN
...             ...        ...  ...                 ...                 ...
1823531  07/07/2012      17:35  ...                 NaN                 NaN
1823532  07/06/2012      15:09  ...                 NaN                 NaN
1823533  07/03/2012      17:30  ...                 NaN                 NaN
1823534  07/01/2012      15:30  ...                 NaN                 NaN
1823536  07/05/2012      23:00  ...                 NaN                 NaN

[1291828 rows x 29 columns]

### Data Visualizations

In [ ]:
#Analyzing Data
print("Pie Chart")
#pieChart(data)

print("Bar Chart")
#barChart(data)

print("Heat Map")
#heatmap(data)

#association_analysis(data)

Pie Chart
Bar Chart
Heat Map

### MANASA

In [49]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [50]:
import pandas as pd
data=pd.read_csv('/content/drive/Shareddrives/CMPE_255/255_Project/motor_vehicle_collisions_crashes.csv')
data.head(5)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   CRASH DATE CRASH TIME  ... VEHICLE TYPE CODE 4 VEHICLE TYPE CODE 5
0  04/14/2021       5:32  ...                 NaN                 NaN
1  04/13/2021      21:35  ...                 NaN                 NaN
2  04/15/2021      16:15  ...                 NaN                 NaN
3  04/13/2021      16:00  ...                 NaN                 NaN
4  04/12/2021       8:25  ...                 NaN                 NaN

[5 rows x 29 columns]

In [51]:
data.isna().sum()

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           562783
ZIP CODE                          563002
LATITUDE                          213787
LONGITUDE                         213787
LOCATION                          213787
ON STREET NAME                    371730
CROSS STREET NAME                 652865
OFF STREET NAME                  1544176
NUMBER OF PERSONS INJURED             18
NUMBER OF PERSONS KILLED              31
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       5205
CONTRIBUTING FACTOR VEHICLE 2     262800
CONTRIBUTING FACTOR VEHICLE 3    1699094
CONTRIBUTING FACTOR VEHICLE 4    1796391
CONTRIBUTING FACTOR VEHICLE 5    1816356
COLLISION_ID                           0
VEHICLE TYPE CODE 1                 9887
VEHICLE TYPE CODE 2               311336
VEHICLE TYPE CODE 3              1702736
VEHICLE TYPE CODE 4              1797199
VEHICLE TYPE CODE 5              1816552
dtype: int64

In [52]:
data=data.drop(columns=['VEHICLE TYPE CODE 5','VEHICLE TYPE CODE 4','VEHICLE TYPE CODE 3','CONTRIBUTING FACTOR VEHICLE 5','CONTRIBUTING FACTOR VEHICLE 4','CONTRIBUTING FACTOR VEHICLE 3','OFF STREET NAME','CONTRIBUTING FACTOR VEHICLE 1','CONTRIBUTING FACTOR VEHICLE 2','VEHICLE TYPE CODE 1','VEHICLE TYPE CODE 2'])

In [53]:
data.fillna(0)

         CRASH DATE CRASH TIME  ... NUMBER OF MOTORIST KILLED COLLISION_ID
0        04/14/2021       5:32  ...                         0      4407480
1        04/13/2021      21:35  ...                         0      4407147
2        04/15/2021      16:15  ...                         0      4407665
3        04/13/2021      16:00  ...                         0      4407811
4        04/12/2021       8:25  ...                         0      4406885
...             ...        ...  ...                       ...          ...
1823532  07/06/2012      15:09  ...                         0        59654
1823533  07/03/2012      17:30  ...                         0       272592
1823534  07/01/2012      15:30  ...                         0       135041
1823535  07/08/2012      18:30  ...                         0      3055617
1823536  07/05/2012      23:00  ...                         0       233172

[1823537 rows x 18 columns]

In [54]:
dataTypeSeries = data.dtypes
print(dataTypeSeries)

CRASH DATE                        object
CRASH TIME                        object
BOROUGH                           object
ZIP CODE                          object
LATITUDE                         float64
LONGITUDE                        float64
LOCATION                          object
ON STREET NAME                    object
CROSS STREET NAME                 object
NUMBER OF PERSONS INJURED        float64
NUMBER OF PERSONS KILLED         float64
NUMBER OF PEDESTRIANS INJURED      int64
NUMBER OF PEDESTRIANS KILLED       int64
NUMBER OF CYCLIST INJURED          int64
NUMBER OF CYCLIST KILLED           int64
NUMBER OF MOTORIST INJURED         int64
NUMBER OF MOTORIST KILLED          int64
COLLISION_ID                       int64
dtype: object

Categorical features are those which have data type as an object data type. Here we have 7 columns that have suhc data type. Lets do one-hot encoding on them first.

In [55]:
categorical_data = data.select_dtypes(include='O').keys()
categorical_data

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LOCATION',
       'ON STREET NAME', 'CROSS STREET NAME'],
      dtype='object')

In [56]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [60]:
new_df = pd.read_csv('/content/drive/Shareddrives/CMPE_255/255_Project/motor_vehicle_collisions_crashes.csv',usecols=['LOCATION', 'ON STREET NAME', 'CROSS STREET NAME','CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE']) 
new_df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   CRASH DATE CRASH TIME  ...                    ON STREET NAME CROSS STREET NAME
0  04/14/2021       5:32  ...           BRONX WHITESTONE BRIDGE               NaN
1  04/13/2021      21:35  ...                               NaN               NaN
2  04/15/2021      16:15  ...          HUTCHINSON RIVER PARKWAY               NaN
3  04/13/2021      16:00  ...                 VANDERVORT AVENUE    ANTHONY STREET
4  04/12/2021       8:25  ...  EDSON AVENUE                                   NaN

[5 rows x 7 columns]

In [64]:
new_df.fillna(0, inplace=True)
new_df.head()

   CRASH DATE CRASH TIME  ...                    ON STREET NAME CROSS STREET NAME
0  04/14/2021       5:32  ...           BRONX WHITESTONE BRIDGE                 0
1  04/13/2021      21:35  ...                                 0                 0
2  04/15/2021      16:15  ...          HUTCHINSON RIVER PARKWAY                 0
3  04/13/2021      16:00  ...                 VANDERVORT AVENUE    ANTHONY STREET
4  04/12/2021       8:25  ...  EDSON AVENUE                                     0

[5 rows x 7 columns]

In [35]:
from sklearn import preprocessing
# label_encoder object how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
data['CRASH DATE']= label_encoder.fit_transform(data['CRASH DATE']) 
data['CRASH TIME']= label_encoder.fit_transform(data['CRASH DATE']) 
data['BOROUGH']= label_encoder.fit_transform(data['CRASH DATE']) 
data['ZIP CODE']= label_encoder.fit_transform(data['CRASH DATE']) 
print(data.head(5))

   CRASH DATE  CRASH TIME  ...  NUMBER OF MOTORIST KILLED  COLLISION_ID
0         937         937  ...                          0       4407480
1         928         928  ...                          0       4407147
2         946         946  ...                          0       4407665
3         928         928  ...                          0       4407811
4         919         919  ...                          0       4406885

[5 rows x 18 columns]

In [36]:
# dataTypeSeries = data.dtypes
# print(dataTypeSeries)

CRASH DATE                         int64
CRASH TIME                         int64
BOROUGH                            int64
ZIP CODE                           int64
LATITUDE                         float64
LONGITUDE                        float64
LOCATION                          object
ON STREET NAME                    object
CROSS STREET NAME                 object
NUMBER OF PERSONS INJURED        float64
NUMBER OF PERSONS KILLED         float64
NUMBER OF PEDESTRIANS INJURED      int64
NUMBER OF PEDESTRIANS KILLED       int64
NUMBER OF CYCLIST INJURED          int64
NUMBER OF CYCLIST KILLED           int64
NUMBER OF MOTORIST INJURED         int64
NUMBER OF MOTORIST KILLED          int64
COLLISION_ID                       int64
dtype: object

In [45]:
# import pandas as pd
# data.select_dtypes(include='O').keys()
# new_df = pd.read_csv('/content/drive/Shareddrives/CMPE_255/255_Project/motor_vehicle_collisions_crashes.csv',usecols=['LOCATION', 'ON STREET NAME', 'CROSS STREET NAME'])
# for x in new_df.columns:
#     #prinfting unique values
#     print(x ,':', len(new_df[x].unique()))

LOCATION : 238826
ON STREET NAME : 15608
CROSS STREET NAME : 19165

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.4,random_state=42)