<a href="https://colab.research.google.com/github/sudheendrakatikar/cmpe255-project-team1/blob/main/maincode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CMPE 255 Group Project

###Includes

In [13]:
# Includes
from google.colab import files
from google.colab import drive

import pandas as pd
import numpy as np
import folium
from folium import features
from folium.plugins import HeatMap
from folium.plugins import MarkerCluster
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder


# Use line below to unmount
# drive.flush_and_unmount()

# Use line below to mount drive to access data
# drive.mount('/content/drive')

### Mount Drive

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Defining Load Data Function

In [4]:
#Data Preprocessing Functions
def load_data(filename):
    # Create Pandas Dataframe from CSV File. 
    # Input filename as a String

    return pd.read_csv(filename, encoding='utf-8')

### Define Cleanup Data Functions

In [5]:
#Clean Up Functions

#Below are incomplete functions for cleaning data. Feel free to Modify for our own use
def remove_unnecersary_columns(df):
    df.drop([], axis=1, inplace=True)
    return

def  fill_missing_values(df):
    #df.fillna(value="No Name", inplace=True)

    #Display For Debugging
    #display(df)
    return
def drop_col(df):
    #df.drop(['LATITUDE', 'LONGITUDE'], axis=1, inplace=True)
    #display(df)
    return

def drop_row(df):
    df.dropna(subset=['LATITUDE', 'LONGITUDE', 'ON STREET NAME'], inplace = True)    
    return

### Define Visualization Functions

In [6]:
def pieChart(data):
  data.BOROUGH.value_counts().plot.pie(title='Accident % by Borough', label='', autopct='%1.1f%%', figsize=(12, 5), startangle=0)

In [7]:
def barChart(data):
  time_series = pd.Series([ int(time.split(':')[0]) for time in data['CRASH TIME'] ]).value_counts().sort_index()
  time_series.plot(kind='bar', title='Accidents in NYC by hour', figsize=(12, 5))

In [8]:
def heatmap(data):
  heatmap = folium.Map(location=[40.742459, -73.971765], zoom_start=12)
  coords = [[x[0], x[1], 1] for x in np.array(data[['LATITUDE', 'LONGITUDE']].dropna())]
  print(coords)
  HeatMap(coords, radius = 20).add_to(heatmap)
  heatmap

### Load Data

In [21]:
data = load_data('/content/drive/Shareddrives/CMPE_255/255_Project/motor_vehicle_collisions_crashes.csv')
print("Showing Original Data ---------------------------------------------------------")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2822: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

Showing Original Data ---------------------------------------------------------

### Define Method Functions

#### Method 1: Association Analysis

In [22]:
def association_analysis(data):
    #print(data.columns)
    data.drop(columns=['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID',  'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'], inplace = True)
    display(data.head(5))
    display(data.shape)

    
    #data.rename(columns = {'Number of Persons Injured':'persons_injured'}, inplace = True)
    #data.rename(columns = {'Number of Persons Killed':'killed'}, inplace = True)

    #data.drop(data.index[data['NUMBER OF PERSONS INJURED'] == 0.0], inplace=True)

    data.dropna(subset=['ON STREET NAME'], inplace = True)
    te = TransactionEncoder()
    te_ary = te.fit(data).transform(data) 
    df = pd.DataFrame(te_ary, columns=te.columns_)
    print(df)

    frequent_itemsets = apriori(df, min_support=0.000001, use_colnames=False)
    print("\n")
    print(frequent_itemsets)

In [23]:
association_analysis(data)

                     ON STREET NAME  ...                  VEHICLE TYPE CODE 1
0           BRONX WHITESTONE BRIDGE  ...                                Sedan
1                               NaN  ...                                Sedan
2          HUTCHINSON RIVER PARKWAY  ...  Station Wagon/Sport Utility Vehicle
3                 VANDERVORT AVENUE  ...                                Sedan
4  EDSON AVENUE                      ...  Station Wagon/Sport Utility Vehicle

[5 rows x 4 columns]

(1823537, 4)

                    1      A      B      C  ...      S      T      U      V      Y
0         True  False   True  False  False  ...   True   True  False  False  False
1         True  False  False   True  False  ...   True  False   True  False  False
2         True  False  False   True  False  ...   True  False   True  False  False
3         True   True  False  False   True  ...  False   True  False   True   True
4        False  False  False  False  False  ...  False  False  False  False  False
...        ...    ...    ...    ...    ...  ...    ...    ...    ...    ...    ...
1451802  False  False  False  False  False  ...  False  False  False  False  False
1451803  False  False  False  False  False  ...  False  False  False  False  False
1451804  False  False  False  False  False  ...  False  False  False  False  False
1451805  False  False  False  False  False  ...  False  False  False  False  False
1451806  False  False  False  False  False  ...  False  False  False  False  False

[1451807 rows x 23 columns]

KeyboardInterrupt: ignored

#### Method 2: Classification

#### Method 3:

###Cleaning Data

In [ ]:
#Cleaning Data
drop_row(data)
display(data)

         CRASH DATE CRASH TIME  ... VEHICLE TYPE CODE 4 VEHICLE TYPE CODE 5
4        04/12/2021       8:25  ...                 NaN                 NaN
13       05/21/2019      22:50  ...                 NaN                 NaN
16       03/09/2021      11:00  ...                 NaN                 NaN
17       03/31/2021      22:20  ...                 NaN                 NaN
18       04/06/2021      22:58  ...                 NaN                 NaN
...             ...        ...  ...                 ...                 ...
1823531  07/07/2012      17:35  ...                 NaN                 NaN
1823532  07/06/2012      15:09  ...                 NaN                 NaN
1823533  07/03/2012      17:30  ...                 NaN                 NaN
1823534  07/01/2012      15:30  ...                 NaN                 NaN
1823536  07/05/2012      23:00  ...                 NaN                 NaN

[1291828 rows x 29 columns]

### Data Visualizations

In [ ]:
#Analyzing Data
print("Pie Chart")
#pieChart(data)

print("Bar Chart")
#barChart(data)

print("Heat Map")
#heatmap(data)

#association_analysis(data)

Pie Chart
Bar Chart
Heat Map

### MANASA

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
data=pd.read_csv('/content/drive/Shareddrives/CMPE_255/255_Project/motor_vehicle_collisions_crashes.csv')
data.head(5)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   CRASH DATE CRASH TIME  ... VEHICLE TYPE CODE 4 VEHICLE TYPE CODE 5
0  04/14/2021       5:32  ...                 NaN                 NaN
1  04/13/2021      21:35  ...                 NaN                 NaN
2  04/15/2021      16:15  ...                 NaN                 NaN
3  04/13/2021      16:00  ...                 NaN                 NaN
4  04/12/2021       8:25  ...                 NaN                 NaN

[5 rows x 29 columns]

In [ ]:
data.isna().sum()

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           562783
ZIP CODE                          563002
LATITUDE                          213787
LONGITUDE                         213787
LOCATION                          213787
ON STREET NAME                    371730
CROSS STREET NAME                 652865
OFF STREET NAME                  1544176
NUMBER OF PERSONS INJURED             18
NUMBER OF PERSONS KILLED              31
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       5205
CONTRIBUTING FACTOR VEHICLE 2     262800
CONTRIBUTING FACTOR VEHICLE 3    1699094
CONTRIBUTING FACTOR VEHICLE 4    1796391
CONTRIBUTING FACTOR VEHICLE 5    1816356
COLLISION_ID                           0
VEHICLE TYPE CODE 1                 9887
VEHICLE TYPE CODE 2               311336
VEHICLE TYPE CODE 3              1702736
VEHICLE TYPE CODE 4              1797199
VEHICLE TYPE CODE 5              1816552
dtype: int64

In [ ]:
data=data.drop(columns=['VEHICLE TYPE CODE 5','VEHICLE TYPE CODE 4','VEHICLE TYPE CODE 3','CONTRIBUTING FACTOR VEHICLE 5','CONTRIBUTING FACTOR VEHICLE 4','CONTRIBUTING FACTOR VEHICLE 3','OFF STREET NAME','CONTRIBUTING FACTOR VEHICLE 1','CONTRIBUTING FACTOR VEHICLE 2','VEHICLE TYPE CODE 1','VEHICLE TYPE CODE 2'])

In [ ]:
half_df = len(data) // 2
first_df= data.iloc[:half_df,]
k=len(first_df)//2
second_df=first_df.iloc[:k,]
l=len(second_df)//2
final_df=second_df.iloc[:l,]

In [ ]:
index = final_df.index
number_of_rows = len(index)
print(number_of_rows)

227942

In [ ]:
final_df.fillna(0)

        CRASH DATE CRASH TIME  ... NUMBER OF MOTORIST KILLED  COLLISION_ID
0       04/14/2021       5:32  ...                         0       4407480
1       04/13/2021      21:35  ...                         0       4407147
2       04/15/2021      16:15  ...                         0       4407665
3       04/13/2021      16:00  ...                         0       4407811
4       04/12/2021       8:25  ...                         0       4406885
...            ...        ...  ...                       ...           ...
227937  10/23/2019      18:20  ...                         0       4228328
227938  10/17/2019      11:20  ...                         0       4224773
227939  11/08/2019      14:30  ...                         0       4239798
227940  11/02/2019      23:00  ...                         0       4234257
227941  10/18/2019       7:30  ...                         0       4226627

[227942 rows x 18 columns]

In [ ]:
dataTypeSeries = final_df.dtypes
print(dataTypeSeries)

CRASH DATE                        object
CRASH TIME                        object
BOROUGH                           object
ZIP CODE                          object
LATITUDE                         float64
LONGITUDE                        float64
LOCATION                          object
ON STREET NAME                    object
CROSS STREET NAME                 object
NUMBER OF PERSONS INJURED        float64
NUMBER OF PERSONS KILLED         float64
NUMBER OF PEDESTRIANS INJURED      int64
NUMBER OF PEDESTRIANS KILLED       int64
NUMBER OF CYCLIST INJURED          int64
NUMBER OF CYCLIST KILLED           int64
NUMBER OF MOTORIST INJURED         int64
NUMBER OF MOTORIST KILLED          int64
COLLISION_ID                       int64
dtype: object

In [ ]:
from sklearn import preprocessing
lbl = preprocessing.LabelEncoder()
final_df['CRASH DATE'] = lbl.fit_transform(final_df['CRASH DATE'].astype(str))
final_df['CRASH TIME'] = lbl.fit_transform(final_df['CRASH TIME'].astype(str))
final_df['BOROUGH'] = lbl.fit_transform(final_df['BOROUGH'].astype(str))
final_df['ZIP CODE'] = lbl.fit_transform(final_df['ZIP CODE'].astype(str))
final_df['LOCATION'] = lbl.fit_transform(final_df['LOCATION'].astype(str))
final_df['ON STREET NAME'] = lbl.fit_transform(final_df['ON STREET NAME'].astype(str))
final_df['CROSS STREET NAME'] = lbl.fit_transform(final_df['CROSS STREET NAME'].astype(str))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [ ]:
dataTypeSeries = final_df.dtypes
print(dataTypeSeries)

CRASH DATE                         int64
CRASH TIME                         int64
BOROUGH                            int64
ZIP CODE                           int64
LATITUDE                         float64
LONGITUDE                        float64
LOCATION                           int64
ON STREET NAME                     int64
CROSS STREET NAME                  int64
NUMBER OF PERSONS INJURED        float64
NUMBER OF PERSONS KILLED         float64
NUMBER OF PEDESTRIANS INJURED      int64
NUMBER OF PEDESTRIANS KILLED       int64
NUMBER OF CYCLIST INJURED          int64
NUMBER OF CYCLIST KILLED           int64
NUMBER OF MOTORIST INJURED         int64
NUMBER OF MOTORIST KILLED          int64
COLLISION_ID                       int64
dtype: object

In [ ]:
final_df.fillna(0,inplace=True)
final_df.astype(int)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

        CRASH DATE  CRASH TIME  ...  NUMBER OF MOTORIST KILLED  COLLISION_ID
0              236        1172  ...                          0       4407480
1              233         815  ...                          0       4407147
2              239         435  ...                          0       4407665
3              233         420  ...                          0       4407811
4              230        1345  ...                          0       4406885
...            ...         ...  ...                        ...           ...
227937         645         560  ...                          0       4228328
227938         633         140  ...                          0       4224773
227939         678         330  ...                          0       4239798
227940         666         900  ...                          0       4234257
227941         635        1290  ...                          0       4226627

[227942 rows x 18 columns]

In [ ]:
x=final_df['CRASH DATE']
y=final_df['ON STREET NAME']

NameError: ignored

In [ ]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import f1_score
from sklearn import metrics
from sklearn.cluster import KMeans
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.4,random_state=42)

In [ ]:
# clf = DecisionTreeClassifier()
# clf = clf.fit(x_train,y_train)
# y_pred = clf.predict(x_test)
# print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [ ]:
# from sklearn.ensemble import RandomForestClassifier
# clf=RandomForestClassifier(n_estimators=20)
# clf.fit(x_train,y_train)

# y_pred=clf.predict(x_test)
# print("Accuracy:",metrics.accuracy_score(y_test, y_pred))